<h1> heres where I show my blog posts</h1>
<h1>Listing Articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.body %></td>
      <td><%= link_to 'Show', blog_path(blog) %></td>
    </tr>
  <% end %>
</table>