

<%= link_to "create new", new_project_path if logged_in?(:site_admin)%>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
<%= render @projects %>
</div>
</div>
</div>