<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 <%=image_tag(@project.main_image)%>
<p>
  <strong>description:</strong>
  <%= @project.description %>
</p>
<p>
<strong>Website or Repo</strong>
<%=@project.github%>
</p>
