<!-- start of sidebar-->
        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Welcome to my blog. Originally this was going to be a serious place to document my journey from beginner to pro <em>fingers crossed</em>, but I realised I'm not a totally serious person. So this is going to be a blog for coding and just my life in general.</p>
          </div>

          <div class="p-4">
            <h4 class="font-italic">Topics</h4>
            <ol class="list-unstyled mb-0">
            
              <li><%= render "shared/tag" %></li>
            </ol>
          </div>

          <div class="p-4">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/zefur" target="_blank">GitHub</a></li>
              <li><a href="https://twitter.com/zefur" target="_blank">Twitter</a></li>
              
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->