<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Works</h1>
      <p class="lead text-muted">Here is a collection of the projects I have worked on and contributed to.</p>
      <p>
        <%= link_to "Find out about me", about_path, class: "btn btn-primary my-2"%>
        <%= link_to "Directions Needed Blog", blogs_path, class: "btn btn-secondary my-2"%>
      </p>
    </div>
  </section>