<div class="row">
<div class= "col-md-12">
<h1>About Me</h1>
</div>
<div class="col-md-5">
<%= image_tag("profile.JPG", width: "250px",class: "profile-pic") %>
</div>
<div class="col-md-7 about">

<p>I'm not so great at talking up myself but I guess I'll have to give it a try</p>
<p>I'm a so far self taught developer working with HTML, CSS, JavaScript, Ruby and Ruby-on-Rails but that is definately not where I am stopping</p>
<p>A lover of languages and speak conversational chinese and very basic japanese</p>
<p>Always looking for new ways to grow and improve my coding ability</p>
<p>In the future I plan to learn React.js and Python so I can be a more rounded full stack developer</p>

</div>
</div>