<h1>Want to give me a job? =]</h1>
<p>You can contact me the following ways</p>
<p>Email: jdhall@live.co.uk</p> 
<p>Linkedin: <a href="https://www.linkedin.com/in/james-hall-6aab6541/" target= "_blank">James Hall</a>
