  <main role="main" class="inner cover">
    <h1 class="cover-heading">Directions Needed </h1>
    <p class="lead">Welcome on my coding journey, making my path from nowhere to my future trying not to get lost on the way.</p>
    <p class="lead">
      
      <%= link_to 'Learn more', about_path, class: "btn btn-lg btn-secondary"%>
    </p>
  </main>