
<div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            
            <div class="card-body">Thumbnail goes in class body
            <div class= "card-title"><%= link_to project.title, project_path(project) %></div>
            <div class="card-subtitle"> subtitle goes here</div>
              <p class="card-text"><%= project.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <% if logged_in?(:site_admin)%>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit this post", edit_project_path(project.id)%></button>
                  <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete Portfolio Item", project_path(project), method: :delete, data: {confirm: 'Are you sure?'} %></button>
                </div>
                <% end%>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>



